
.About{
    background-color: #f1f1f3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    background-color: var(--pm-color);
    color: #fff;
    width: 50%;
    height: 50%;
    padding: 10px;
}

.text-container p{
    font-size: 1.4rem;
}

.plant-animation img{
    max-width: auto;
    max-height: auto;
}

