.cont {
  height: 100vh;
  width: 100vw;
  background-color: var(--pm-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgItem{
  width: 300px;
  height: auto;
  margin: 5px;
  background-color: #f1f1f1;
  padding-bottom: 30px;
  color: black;
  text-align: center;
  font-size: 1.5em;
}

.imgItem img{
  width: 100%;
  height: auto;
  border: #f1f1f1 15px solid;
  border-bottom: none;
}
