* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a, a:hover {
  text-decoration: none;  
}

li {
  list-style: none;
}

:root {
  --pm-color: rgb(0, 82, 0);
  --sd-color: #fff;
}
